<section id="calltoaction" class="row">
  <div class="col-single">
    <div id="calltoaction-device">
      <div id="calltoaction-app"></div>
    </div>
  </div>
  <div class="col-double">
    <div class="col-full">
      <div class="big-teaser-contact handwriting focus-inverse">
        On prend rendez-vous ?
      </div>
      <section>
        <ul class="list-unstyled contact">
          <li>
            <i class="icon icon-call"></i>
            <span>Téléphone</span><br/>
            <b>06.42.13.52.13</b>
          </li>
          <li>
            <i class="icon icon-email"></i>
            <span>Email</span><br/>
            <b>contact@webyousoon.com</b>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>