

<header id="banner" role="banner" class="row">
  <div id="logo">
    {{!-- {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} --}}
  </div>
  <nav id="navigation" role="navigation" class="">
    <div id="menu-toggle">
      <a id="btn-open-toggle" href="">Menu</a>
    </div>
    <div id="menu-hover">
      <div class="col-half">
        <a id="link-services" class="link-toggle" href="http://www.webyousoon.com#services">Services</a>
        <a id="link-services" class="link-toggle" href="http://www.webyousoon.com#values">Valeurs</a>
      </div>
      <div class="col-half align-right">
        <a id="link-blog" class="link-toggle" href="http://blog.webyousoon.com">Blog</a>
        <a id="link-contactus" class="link-toggle" href="http://www.webyousoon.com#calltoaction">Contact</a>
      </div>
    </div>
  </nav>
  <div class="col-single">
    <h2 class="blog-title">Blog</h2>
  </div>
  <div class="col-double">

  </div>
</header>
