<div id="sidebar">
{{!-- 	<div class="widget widget-bordered" id="widget-newsletter">
		<h4 class="widget-title">Newsletter</h4>
		<div class="widget-content">
			<p class="mb-15">Join our newsletter to always get the latest news from our site:</p>
			<form>
				<input type="text" placeholder="Email address..." name="email" id="email">
				<button type="submit" class="button">
					<i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Subscribe now
				</button>
			</form>
		</div>
	</div> --}}
	<!-- / widget: newsletter -->

{{!-- 	<div class="widget" id="widget-social">
		<div class="row">
			<div class="col-sm-6 col-md-12">
				<a href="#" class="button button-twitter">
					<i class="fa fa-twitter"></i>&nbsp;&nbsp;<strong>Follow us on Twitter</strong>
				</a>
			</div>
			<div class="col-sm-6 col-md-12">
				<a href="#" class="button button-facebook">
					<i class="fa fa-facebook"></i>&nbsp;&nbsp;<strong>Like us on Facebook</strong>
				</a>
			</div>
		</div>
	</div> --}}
	<!-- / widget: social -->


	<div class="widget widget-bordered" id="widget-sponsor">
		<h4 class="widget-title">Ils nous ont soutenu</h4>
		<ul>
			<a href="http://atelier-9.fr/"><li><img src="{{asset "img/atelier9.png"}}" alt="Sponsor Atelier 9"></li></a>
			<a href="http://www.zenika.com"><li><img src="{{asset "img/zenika.png"}}" alt="Sponsor Zenika"></li></a>
			<a href="http://dojo.fr/"><li><img src="{{asset "img/dojo.png"}}" alt="Sponsor DOJO Nantes"></li></a>
		</ul>
	</div>
	<div><a href="http://www.pieceofmake.org/contribution/#proposerdeslocaux">Vous aussi vous pouvez !</a></div>

	<div class="widget widget-bordered" id="widget-twitter">
		<h4 class="widget-title">Latest tweets</h4>
		<div id="widget-tweets">
			<!-- Tweets pulled here automatically -->
		</div>
		<div class="twitter-info">
			<a href="https://twitter.com/pieceofmake_nte" class="button button-twitter" target="_blank">
				<i class="fa fa-twitter"></i>&nbsp;&nbsp;On est sur Twitter
			</a>
		</div>
	</div>
	<!-- / widget: twitter -->

</div>
<!-- / sidebar -->