<section id="services" class="row board">
  <div class="col-single">
    <h2>Services</h2>
    <p class="focus">Nous proposons des services dans toutes les étapes clés pour réaliser des applications web et mobiles.</p>
  </div>
  <div class="col-double">
    <div class="col-half">
      <section class="info">
        <header>
          <h3>Conseil</h3>
          <i class="icon icon-direction-sign"></i>
        </header>
        <p>Accompagnement et pédagogie sur les multiples possibilités fonctionnelles et techniques qui s'offrent à vous pour répondre à vos objectifs.</p>
      </section>
    </div>
    <div class="col-half">
      <section class="info">
        <header>
          <h3>Réalisation</h3>
          <i class="icon icon-hammer"></i>
          <i class="icon icon-brush icon-inverse"></i>
        </header>
        <p>Conception, maquettage et développement de solutions ergonomiques pour vos utilisateurs et pérennes techniquement.</p>
      </section>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="col-double">
    <div class="col-half">
      <section class="info">
        <header>
          <h3>Mise en service</h3>
          <i class="icon icon-cloud-upload"></i>
        </header>
        <p>Déploiement, hébergement des applications web et publication sur les stores privés (AppStore, Google Play) pour les applications mobiles.</p>
      </section>
    </div>
    <div class="col-half">
      <section class="info">
        <header>
          <h3>Suivi et gestion</h3>
          <i class="icon icon-pulse-graph-3"></i>
        </header>
        <p>Maintenance, évolutions et analyse du trafic pour améliorer constamment vos applications.</p>
      </section>
    </div>
    <div style="clear: both;"></div>
  </div>
</section>