<section id="values" class="board row">
  <div class="col-single">
    <h1>Valeurs</h1>
    <p class="focus">Nous agissons selon des valeurs qui nous semblent primordiales pour un accompagnement de qualité.</p>
  </div>
  <div class="col-double">
    <div class="col-half">
      <section>
        <header>
          <h2>Collaboration</h2>
          <i class="icon icon-shuffle"></i>
        </header>
        <p>Échanges réguliers autour de vos attentes, de vôtre métier, </p>
      </section>
    </div>
    <div class="col-half">
      <section>
        <header>
          <h2>Simplicité</h2>
          <i class="icon icon-check"></i>
        </header>
        <p>Priorité aux solutions les plus simples qui peuvent apporter de la valeur à vos utilisateurs.</p>
      </section>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="col-double">
    <div class="col-half">
      <section>
        <header>
          <h2>Agilité</h2>
          <i class="icon icon-loop"></i>
        </header>
        <p>Analyses régulières factuelles, afin d'améliorer la réalisation du projet et optimiser les résultats.</p>
      </section>
    </div>
    <div class="col-half">
      <section>
        <header>
          <h2>Contribution</h2>
          <i class="icon icon-keynote"></i>
        </header>
        <p>Partage du savoir lors de nombreuses conférences professionnelles et contribution à des projets "open source".</p>
      </section>
    </div>
    <div style="clear: both;"></div>
  </div>
</section>