{{!< default}}

{{> page-header}}
{{! This includes the page-header.hbs partial }}

<main id="main" class="container">
  <div id="wrapper" class="clearfix">

    <div id="content" class="content-2-col">
      <div class="tag-info">
        {{#tag}}<h3 class="tag-name">Browsing: {{name}}</h3>{{/tag}}
      </div>
      <div class="row">
        {{> loops/loop-classic}}
      </div>

      {{pagination}}
    </div>
    <!-- / content -->

    {{> page-sidebar}}
  </div>
  <!-- / wrapper -->
</main>
<!-- / main -->

{{> page-footer}}
