        <footer id="contentinfo" role="contentinfo" class="site-footer container-inverse">
          <div class="board">


            <div class="col-single">

              <section class="footer-vignette">
                <h2>Contact</h2>
                <p class="contact tel">
                  Téléphone<br/>
                  <b>+33 (0)6 42 13 52 13</b>
                </p>
                <p class="contact email">
                  Email<br/>
                  <b>contact@webyousoon.com</b>
                </p>
              </section>

            </div>
            <div class="col-double">
              <div class="col-half">

                <address class="vcard">
                  <section class="footer-vignette">
                    <h2>Adresse</h2>
                    <p class="place fn"><a class="url" href="#">Webyousoon</a><p>
                    <p class="adr">
                      <span class="nickname">Atelier 9</span><br>
                      <span class="street-address">9 rue des Olivettes</span><br>
                      <span class="postal-code">44000</span> <span class="locality">Nantes</span><br>
                      <span class="country-name">France</span>
                    </p>
                  </section>
                </address>

              </div>
              <div class="col-half">

                <section class="footer-vignette">
                  <h2>Réseaux sociaux</h2>
                  <ul class="list-unstyled">
                    <li>
                      <a href="https://twitter.com/webyousoon">
                        <i class="icon icon-twitter"></i>
                        <span>Twitter</span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/webyousoon">
                        <i class="icon icon-github"></i>
                        <span>GitHub</span>
                      </a>
                    </li>
                  </ul>
                </section>

              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
          <!-- /.board -->
          <div class="col-full">
            <section class="legal">
                <div class="copyright"><a href="http://www.webyousoon.com">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</div>
                <div class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></div>
                <div class="poweredby"><a href="https://github.com/webyousoon/ghost-theme-builder">Theme vx.x.x</a></div>
              <!-- <div>Mentions légales</div> -->
            </section>
          </div>
        </footer>