
$color-light: #FFFFFF;
$color-dark: #000000;

$color-light-darker: #F5F5F5;

$color-gray-neutral-lightest: #E0E0E0;
$color-gray-neutral-lighter: #757575;
$color-gray-neutral-medium: #616161;
$color-gray-neutral-darker: #424242;
$color-gray-neutral-darkest: #212121;

$color-gray-blue-lightest: #ECEFF1;
$color-gray-blue-lighter: #CFD8DC;
$color-gray-blue-medium: #78909C;
$color-gray-blue-darker: #455A64;
$color-gray-blue-darkest: #263238;

$color-gray-lightest: $color-gray-neutral-lightest;
$color-gray-lighter: $color-gray-neutral-lighter;
$color-gray-medium: $color-gray-neutral-medium;
$color-gray-darker: $color-gray-neutral-darker;
$color-gray-darkest: $color-gray-neutral-darkest;

$color-purple: #4A148C;
$color-blue: #4A90E2;
$color-orange: #FFC107;
$color-yellow: #F8E71C;
$color-cyan: #00BCD4;
$color-cyan-darken: #124A60;
// $color-cyan-darken: #0079A9;

$color-red: #D0021B;
$color-red-darken: darken($color-red, 10%);


$color-first: $color-cyan;
// $color-first-annex: darken($color-first, 10%);
$color-first-annex: $color-cyan-darken;

$color-second: $color-orange;
$color-second-annex: darken($color-second, 10%);
$color-second-darkest: darken($color-second, 33%);

$color-bg: $color-light;
$color-bg-inverse: $color-gray-darkest;

$color-text: $color-gray-medium;
$color-text-inverse: $color-light;
$color-text-focus: $color-first;

$opacity-background: 0.8;
$opacity-background-low: 0.4;

$font-text: 'raleway', Helvetica, Arial, sans-serif;
$font-title: 'raleway-bold', Helvetica, Arial, sans-serif;
$font-bold: 'raleway-bold', Helvetica, Arial, sans-serif;
$font-handwriting: 'fabfeltscriptbold', 'raleway-bold';
$font-icon-1: 'streamline';
$font-icon-2: 'FontAwesome';

$screen-s: 480px;
$screen-m: 768px;
$screen-l: 960px;
// $screen-l: 1024px;

$gutter-height: 16px;
$gutter-width: 16px;
$gutter-width-s: $gutter-width;
$gutter-width-m: $gutter-width * 2;
$gutter-width-l: $gutter-width * 4;
$gutter-width-xl: $gutter-width * 6;
$gutter-height-s: $gutter-height;
$gutter-height-m: $gutter-height * 2;
$gutter-height-l: $gutter-height * 4;
$gutter-height-xl: $gutter-height * 6;

$max-width-screen: $screen-l;
// $max-width-screen: $screen-l - 2 * $gutter-width-m;
$max-height-screen: $max-width-screen * 9 / 16;

$max-width-col: $max-width-screen / 3 - 2 * $gutter-width-s;
$max-height-col: $max-width-col * 9 / 16;


$path-img: "../img";
