<footer id="footer">
	<div class="container">
		<div class="back-top">
			<a href="#top">
				<i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Back to top
			</a>
		</div>
		<div class="row footer-wrapper">
			<div class="col-md-12">
				{{navigation}}
				<div class="copyright">
					{{!-- <p>&copy; Copyright by {{@blog.title}}. All rights reserved.</p> --}}
					<p>Proudly published with <a href="https://ghost.org/">Ghost</a>.</p>
			</div>
		</div>
	</div>
</footer>
<!-- / footer -->