{{!< default}}
{{! The above will include this template into the body of the default template }}

{{> page-header}}
{{! This includes the page-header.hbs partial }}

<main id="main" class="container">
	<div id="wrapper" class="clearfix">

		<div id="content" class="content-home">
			<div class="row">
				{{> loops/loop-home}}
				{{! This includes the loops/loop-home.hbs partial }}
			</div>
			
			{{pagination}}
		</div>
		<!-- / content -->

		{{> page-sidebar}}
		{{! This includes the page-sidebar.hbs partial }}
	</div>
	<!-- / wrapper -->
</main>
<!-- / main -->

{{> page-footer}}
{{! This includes the page-footer.hbs partial }}